version: '3.8'

services:
  # Node.js Backend Service
  backend:
    build:
      context: .  # Path to the backend folder
      dockerfile: backend/Dockerfile  # Dockerfile for Node.js backend
    ports:
      - "3001:3001"  # Expose Node.js backend on port 3001
    env_file:
      - ./backend/.env
    networks:
      - wifi-pos-network

  # Python API Service
  python-api:
    build:
      context: .  # Path to the backend folder
      dockerfile: backend/Dockerfile.python  # Dockerfile for Python API
    ports:
      - "4001:4001"  # Expose Python API on port 4001
    env_file:
      - ./backend/.env
    networks:
      - wifi-pos-network

  # Frontend Service
  frontend:
    build:
      context: . # Path to the frontend folder
      dockerfile: frontend-admin/Dockerfile  # Dockerfile for frontend
    ports:
      - "5001:5001"  # Expose frontend on port 5001
    env_file:
      - ./frontend-admin/.env
    networks:
      - wifi-pos-network

networks:
  wifi-pos-network:
    driver: bridge
