/* Container for the entire app */
.App {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content to the top of the container */
    min-height: 100vh; /* Use min-height to ensure the container takes up at least the full viewport height */
    margin: 0;
    padding-top: 2rem;
    width: 100vw; /* Use width to make the container use the full viewport width */
    box-sizing: border-box;
    overflow-y: auto; /* Add vertical scroll when content exceeds viewport height */
}
  
/* Styling for the title */
h1 {
    text-align: center;
    margin-top: 0; /* Remove top margin to ensure title is visible even when scrolled up */
    margin-bottom: 1.5rem; /* Margin to give space between title and form */
    font-size: 2rem; /* Larger font size for title */
    color: #333;
}
  
/* Styling for the form */
form {
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}
  
/* Styling for the buttons */
button {
    padding: 0.7rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 1rem;
}
  
button:hover {
    background-color: #45a049;
}

button[type="submit"] {
    background-color: #007bff;
}

button[type="main-page-button"] {
    background-color: #5d635d;
    margin-top: 4rem; /* Add more gap from the button above it */
}

/* Styling for the form sections */
.section {
    margin-top: 1rem;
}

/* Styling for the input fields */
input[type="text"], input[type="number"], input[type="password"] {
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 4px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #333;
}
